.elementor-2561 .elementor-element.elementor-element-dc1deac{--display:flex;--margin-top:60px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}/* Start custom CSS */.blog-one__title {
    font-size: 18px;
    line-height: 34px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 9px;
    text-align: justify;
}
.blog-one__title {
    font-size: 18px;
    line-height: 34px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 9px;
    text-align: justify;
}/* End custom CSS */