.elementor-4281 .elementor-element.elementor-element-af78a73{--display:flex;}.elementor-4281 .elementor-element.elementor-element-ec20a90{--display:flex;}.elementor-4281 .elementor-element.elementor-element-bc5914c .elementor-wrapper{--video-aspect-ratio:1.77777;}.elementor-widget-text-editor{color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-4281 .elementor-element.elementor-element-aacc43d > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4281 .elementor-element.elementor-element-aacc43d{text-align:justify;font-family:"Helvetica", Sans-serif;font-size:16px;line-height:30px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );}.elementor-4281 .elementor-element.elementor-element-ec47dd2 img{width:100%;}.elementor-4281 .elementor-element.elementor-element-e8b6328 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-4281 .elementor-element.elementor-element-e8b6328{text-align:justify;font-family:"Helvetica", Sans-serif;font-size:16px;line-height:30px;}.elementor-4281 .elementor-element.elementor-element-42f9d1a{--display:flex;}.elementor-4281 .elementor-element.elementor-element-e8c3171 img{width:100%;}.elementor-4281 .elementor-element.elementor-element-dd3be20{text-align:right;font-family:"Helvetica", Sans-serif;font-size:14px;line-height:19px;color:#000000;}/* Start custom CSS */.blog-sidebar__content {
    padding: 35px 15px 5px;
}
.blog-sidebar__title {
    font-size: 25px;
    text-align: justify;
}
.elementor-element.elementor-element-af78a73 {
    --display: flex;
    --background-transition: 0.3s;
    padding: 0;
}
.blog-sidebar__title {
       font-size: 21px;
    font-family: helvetica;
}
.sidebar__post-single h3 a {
    font-size: 19px !important;
    font-family: helvetica !important;
    text-align: justify !important;
}
.sidebar__post-single h3 {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: justify;
}
.blog-page__single p a {
    color: black;
}
.blog-details__bottom {
    margin-top: 70px;
    margin-bottom: 40px;
}
.sidebar__title h3 {
    font-family: arial !important;
}/* End custom CSS */